server {
    server_name {{domain}};
    charset UTF-8;
    access_log {{vhosts_root}}/httpd-logs/{{domain}}.access.log ;
    error_log {{vhosts_root}}/httpd-logs/{{domain}}.coffeemade.ru.error.log notice;
    listen 185.22.234.104:80;
    include /etc/nginx/vhosts-includes/*.conf;
    include /etc/nginx/vhosts-resources/dev/*.conf;
    location /static {
        autoindex on;
        alias {{vhosts_root}}/{{owner}}/data/www/{{domain}}/static/;
    }
    location /media {
        autoindex on;
        alias {{vhosts_root}}/{{owner}}/data/www/{{domain}}/media/;
    }
    location / {
        proxy_pass http://unix:{{vhosts_root}}/{{owner}}/data/tmp/{{name}}.sock;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
