server {
    server_name {{domain}}{% for item in aliases %} {{item}}{% endfor %};
    charset UTF-8;
    access_log {{logs_dir}}/{{domain}}.access.log;
    error_log {{logs_dir}}/{{domain}}.error.log notice;
    listen {{listen}};
    include /etc/nginx/vhosts-includes/*.conf;
    include /etc/nginx/vhosts-resources/{{owner}}/*.conf;
    location {{settings.static_url}} {
        autoindex on;
        alias {{project_dir}}{{settings.static_url}};
    }
    location {{settings.media_url}} {
        autoindex on;
        alias {{project_dir}}{{settings.media_url}};
    }
    location / {
        proxy_pass http://unix:{{tmp_dir}}/{{name}}.sock;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
