[program:{{name}}]
command={{vhosts_root}}/{{owner}}/data/www/{{domain}}/env/bin/gunicorn {{name}}.wsgi:application --name {{name}} --workers 1 --bind=unix:{{vhosts_root}}/{{owner}}/data/tmp/{{name}}.sock
directory={{vhosts_root}}/{{owner}}/data/www/{{domain}}
user={{owner}}
